@model IEnumerable<Messenger.Models.Group>

@{
    ViewData["Title"] = "Chats";
}

<h1>Chats</h1>

<table class="table">
    <thead>
        <tr>
            <td>
                <p>
                    <a asp-action="Create" asp-controller="Group">Create New</a>
                </p>
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                <div class="col-4"><input type="text" id="roomName" value="@item.Name"/></div>
            </td>
            <td>
                @foreach(var user in item.Users)
                {
                    <td>
                        @Html.DisplayFor(u => user.Nickname)
                    </td>
                }
            </td>
            <td>
                <div class="col-6">
                    <input type="button" id="connectButton" value="Connect" />
                </div>
                <div class="col-6">
                    <input type="button" id="disconnectButton" value="Disconnect" />
                </div>
            </td>
        </tr>
}
    </tbody>
</table>    
<div class="row">&nbsp;</div>
<div class="container">
        <div class="row">
            <div class="col-2">Group</div>
            <div class="col-4"><input type="text" id="userGroup" value="@ViewBag.Group"/></div>
        </div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" value="@ViewBag.Name"/></div>
        </div>
        <div class="row">

            <div class="col-2">Receiver</div>
            <div class="col-4"><input type="text" id="receiver" placeholder="Receiver" /></div>
        </div>
        <div class="row">

            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>